<!DOCTYPE html>
<html lang = "en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <login>Users</login>
    <style>
        body {background-color: #FFFFFF}
        a { color:#000000; text-decoration:none;}
    </style>
</head>
<body>
<form method="GET", action="/user">
    <table th:if="${not #lists.isEmpty(users)}">
        <tr th:each="user : ${user}">
            <td>
                <a th:href="@{/user}"><span th:text="${user.login}"></span></a>
            </td>
        </tr>
    </table>
</form>
<br>
<p align="center"><button type="submit" class="btn btn-light"> <a th:href="@{/user/add}">Add a new user</a></button></p>
</body>
</html>