<!DOCTYPE html>
<html lang = "en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <login>Regist user</login>
    <style>
        body {background-color: #FFFFFF}
        a { color:#000000; text-decoration:none;}
    </style>
</head>
<body>
<br><br><br><br>
<form align="center" method="POST", action="/user/add">
    <input login="loginUser" type="text" id="loginUser" class="form-control" placeholder="Login"/>
    <input login="passwordUser" type="text" id="passwordUser" class="form-control" placeholder="Password"/>
    <button type="submit" class="btn btn-light">Register</button>
</form>
<br>
<p align="center"><button type="submit" class="btn btn-light"> <a th:href="@{/user}">Go to users</a></button></p>
</body>
</html>